.footer {
  background: #262c5e;
  color: var(--white);
  font-family: 'CenturyGothic', Arial, sans-serif;
  width: 100%;
  padding-top: 5rem;
}

.footer__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem 2rem 0 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  text-align: center;
}

.footer__title {
  font-family: 'june-expt-variable', sans-serif;
  color: #FFF;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer__subtitle {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.footer__logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  background: #fff;
  padding: 1.5rem 0 1rem 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.footer__logos-section p{
  color: #000;
}

.footer__logos-section-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.footer__logos-section-logos img {
  width: 20%;
  height: 20%;
  object-fit: contain;
  object-position: center;
  background: transparent;
}

.footer__logos-section-asocolnef {
  width: 23% !important;
}

.footer__logos-section-small {
  width: 80px !important;
  height: auto !important;
}

.footer__logos-line {
  display: block;
  width: 1px;
  height: 40px;
  background: #cccccc;
}

.footer__legal {
  font-size: 0.85rem;
  color: var(--white);
  background-color: #023f88;
  padding: 1rem 2rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.footer__code {
  display: block;
  font-weight: bold;
  margin-top: 0.5rem;
  color: var(--white);
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #002d7c;
  padding: 1.2rem 2rem 1.2rem 2rem;
}

.footer__bottom-left .footer__logo {
  height: 48px;
}

.footer__bottom-center {
  font-size: 1rem;
}

.footer__bottom-right {
  display: flex;
  gap: .8rem;
  align-items: center;
}

.footer__icon-placeholder {
  display: inline-flex;
  /* margin-right: .5rem; */
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.footer__icon-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


@media (max-width: 1100px) {

  .footer__title {
    font-size: 2.5rem;
  }

  .footer__subtitle {
    font-size: 1rem;
  }

  .footer__logos {
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1.3rem;
  }

  .footer__logos-section-logos img {
    height: 100px;
  }


  .footer__legal {
    padding: 1rem 1rem;
    font-size: 0.7rem;
  }

  .footer__bottom-center {
    font-size: 0.8rem;
  }

  .footer__bottom-right {
    gap: 0.5rem;
  }

  .footer__icon-placeholder {
    width: 30px;
    height: 30px;
  }

  .footer__bottom-left .footer__logo {
    height: 30px;
  }

}

@media (max-width: 750px) {

  .footer__main{
    padding: 0;
  }

  .footer__logos-section-logos {
    gap: 1rem;
  }

  .footer__title {
    font-size: 1.5rem;
  }

  .footer__subtitle {
    font-size: 0.8rem;
  }

  .footer__logos {
    padding: .5rem;
    gap: .7rem;
    width: 95%;
  }

  .footer__logos img {
    height: 80px;
  }

  .footer__legal {
    padding: .5rem;
    font-size: 0.6rem;
    width: 95%;
  }

  .footer__bottom {
    padding: .5rem;
    flex-direction: column;
    gap: .5rem;
  }
}