:root {
  --blue: #3a3976;
  --white: #FFF;
  --green: #02cf92;
  --purple: #7548d8;
}

body {
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('./assets/Fonts/CenturyGothic.ttc');
}

@font-face {
  font-family: 'Frutiger-Light';
  src: url('./assets/fonts/Frutiger-Light.ttf');
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('./assets/fonts/MyriadPro-Regular.ttf');
}
